<div class="check_about content">
    <div class="cards">
        <div class="cards_left">
            <h1 class="cinema">Кинотеатр Салют</h1>
            <h1 class="movie-name">{{ticketsInfo.title}}</h1>
            <h1 class="movie-date">{{ticketsInfo.date}}</h1>
            <div class="cards_left-info">
                <div class="cards_left-info-price">
                    <h2>Цена</h2>
                    <p>{{ticketsInfo.price}}</p>
                </div>
                <div class="cards_left-info-site">
                    <h2>Ряд</h2>
                    <p>{{setR}}</p>
                </div>
                <div class="cards_left-info-site2">
                    <h2>Место</h2>
                    <p>{{setM}}</p>
                </div>
                <div class="cards_left-info-time">
                    <h2>Время</h2>
                    <p>{{ticketsInfo.times}}</p>
                </div>
            </div>
        </div>
        <div class="cards_right">
            <h1>
                Контроль
            </h1>
        </div>
    </div>
</div>