<div class="task" data-id="{{task.id}}">
    <a class="task__title" href="#/list/{{task.id}}"><img src="{{task.img}}"></a>
    <p>{{task.title}}</p>

    <div class="task__buttons">
        <a class="task__btn-edit button" href="#/list/{{task.id}}">Подробнее</a>
        <a class="task__btn-done button" href="#/list/{{task.id}}/edit">Купить</a>
    </div>
</div>